<div class="header">
    <h2>Top Trading State's Holiday Packages :-</h2>
</div>
<div class="checkpadding">
    <div class="slider-container">
        <div class="card">
            <img src="assets/6 images/delhi.jpg" alt="Ladakh Adventures">
            <div class="card-content">
               
                    <a [routerLink]="['/des']">
                        <h3>Delhi</h3>
                        <p>30+ Packages</p>
                    </a>

            </div>
        </div>
        <div class="card">
            <img src="assets/6 images/gujrat.jpg" alt="Europe Summer 2025">
            <div class="card-content">
                <h3>Gujrat</h3>
                <p>41+ Packages</p>
            </div>
        </div>
        <div class="card">
            <img src="assets/6 images/kashmir.jpg" alt="Durga Puja Special">
            <div class="card-content">
                <h3>Kashmir</h3>
                <p>35+ Packages</p>
            </div>
        </div>
        <div class="card">
            <img src="assets/6 images/mp.jpg" alt="Maldives Tour">
            <div class="card-content">
                <h3>Madhya Pradesh</h3>
                <p>44+ packages</p>
            </div>
        </div>

    </div>
    <div class="slider-container">
        <div class="card">
            <a routerLink="des">
                <img src="assets/6 images/delhi.jpg" alt="Ladakh Adventures">
            </a>
                <div class="card-content">
                    <h3>Andhra Pradesh</h3>
                    <p>40+ Packages</p>
                </div>
            
        </div>
        <div class="card">
            <img src="assets/6 images/gujrat.jpg" alt="Europe Summer 2025">
            <div class="card-content">
                <h3>Arunachal Pradesh</h3>
                <p>12+ Packages</p>
            </div>
        </div>
        <div class="card">
            <img src="assets/6 images/kashmir.jpg" alt="Durga Puja Special">
            <div class="card-content">
                <h3> Uttarakhand</h3>
                <p>10+ Packages</p>
            </div>
        </div>
        <div class="card">
            <img src="assets/6 images/mp.jpg" alt="Maldives Tour">
            <div class="card-content">
                <h3>Uttar Pradesh</h3>
                <p>44+ Packages</p>
            </div>
        </div>

    </div>

    <div class="slider-container">
        <div class="card">
            <img src="assets/6 images/delhi.jpg" alt="Ladakh Adventures">
            <div class="card-content">
                <h3> Mizoram</h3>
                <p>40+ Packages</p>
            </div>
        </div>
        <div class="card">
            <img src="assets/6 images/gujrat.jpg" alt="Europe Summer 2025">
            <div class="card-content">
                <h3>Nagaland</h3>
                <p>12+ Packages</p>
            </div>
        </div>
        <div class="card">
            <img src="assets/6 images/kashmir.jpg" alt="Durga Puja Special">
            <div class="card-content">
                <h3>Odisha</h3>
                <p>10+ Packages</p>
            </div>
        </div>
        <div class="card">
            <img src="assets/6 images/mp.jpg" alt="Maldives Tour">
            <div class="card-content">
                <h3>Punjab</h3>
                <p>44+ Packages</p>
            </div>
        </div>

    </div>

    <div class="slider-container">
        <div class="card">
            <img src="assets/6 images/delhi.jpg" alt="Ladakh Adventures">
            <div class="card-content">
                <h3> Rajasthan</h3>
                <p>40+ Packages</p>
            </div>
        </div>
        <div class="card">
            <img src="assets/6 images/gujrat.jpg" alt="Europe Summer 2025">
            <div class="card-content">
                <h3>Sikkim</h3>
                <p>12+ Packages</p>
            </div>
        </div>
        <div class="card">
            <img src="assets/6 images/kashmir.jpg" alt="Durga Puja Special">
            <div class="card-content">
                <h3>Tamil Nadu</h3>
                <p>10+ Packages</p>
            </div>
        </div>
        <div class="card">
            <img src="assets/6 images/mp.jpg" alt="Maldives Tour">
            <div class="card-content">
                <h3> Tripura</h3>
                <p>44+ Packages</p>
            </div>
        </div>

    </div>
    <div class="slider-container">
        <div class="card">
            <img src="assets/6 images/delhi.jpg" alt="Ladakh Adventures">
            <div class="card-content">
                <h3> Chhattisgarh</h3>
                <p>40+ Packages</p>
            </div>
        </div>
        <div class="card">
            <img src="assets/6 images/gujrat.jpg" alt="Europe Summer 2025">
            <div class="card-content">
                <h3> Goa</h3>
                <p>12+ Packages</p>
            </div>
        </div>
        <div class="card">
            <img src="assets/6 images/kashmir.jpg" alt="Durga Puja Special">
            <div class="card-content">
                <h3>Haryana</h3>
                <p>10+ Packages</p>
            </div>
        </div>
        <div class="card">
            <img src="assets/6 images/mp.jpg" alt="Maldives Tour">
            <div class="card-content">
                <h3>Himachal Pradesh</h3>
                <p>44+ Packages</p>
            </div>
        </div>

    </div>
    <div class="slider-container">
        <div class="card">
            <img src="assets/6 images/delhi.jpg" alt="Ladakh Adventures">
            <div class="card-content">
                <h3> Jharkhand</h3>
                <p>40+ Packages</p>
            </div>
        </div>
        <div class="card">
            <img src="assets/6 images/gujrat.jpg" alt="Europe Summer 2025">
            <div class="card-content">
                <h3>Karnataka</h3>
                <p>12+ Packages</p>
            </div>
        </div>
        <div class="card">
            <img src="assets/6 images/kashmir.jpg" alt="Durga Puja Special">
            <div class="card-content">
                <h3> Manipur</h3>
                <p>10+ Packages</p>
            </div>
        </div>
        <div class="card">
            <img src="assets/6 images/mp.jpg" alt="Maldives Tour">
            <div class="card-content">
                <h3>Meghalaya</h3>
                <p>44+ Packages</p>
            </div>
        </div>

    </div>
</div>
<div class="content1">
    <p>For travelers, India is a treasure trove of exploration and experiences. From the bustling cities to serene rural
        landscapes, India offers a diverse range of attractions, such as historical monuments, palaces, temples,
        wildlife sanctuaries, and beautiful beaches.
        The country's tourism industry attracts millions of visitors every year who come to witness its diverse culture,
        stunning landscapes, and warm hospitality. Visiting India is a journey that promises unforgettable memories,
        providing a blend of ancient traditions and modern advancements. Whether exploring the bustling
        streets of Delhi, marveling at the beauty of the Taj Mahal, or meditating in the peaceful foothills of the
        Himalayas, India offers a truly magical
        experience that leaves a lasting impression on every traveler.</p>
</div>