<nav id="top" [class.hidden]="isHidden">
  <div class="nav-upper-part">
    <div class="right-part">
      <div class="tolls">
        <p><span class="bi bi-telephone"></span>Toll no.XXXXXXXX</p>
        |
        <p><span class="bi bi-telephone"></span>Toll no.XXXXXXXX</p>
      </div>
      <div class="btns">
        <div class="globe__right">
          <span class="bi bi-globe"></span>
          Gwalior, Madhya Pradesh, India
        </div>
        <button class="btn-login" (click)="isLogin = true">
          <span class="bi bi-people"></span> login
        </button>
      </div>
    </div>
  </div>

  <div class="nav-bottom-part">
    <div class="logo-sidebar">
      <div class="logo">
        <img src="icons/logo.png" alt="" />
      </div>
    </div>

    <div class="right-part menu">
      <div *ngFor="let item of [1]" style="display: flex;">
        <p class="menu-items">Home</p>
        <p class="menu-items">Contect</p>
        <p class="menu-items">About</p>
        <p class="menu-items">Tour & Trips </p>
      </div>
    </div>
  </div>
</nav>

<ng-container *ngIf="isLogin">
  <div @fadeInOut>
    <app-login [(isLogin)]="isLogin"></app-login>
  </div>
</ng-container>