<!-- Overlay -->
<div class="overlay"></div>

<!-- Modal -->
<div class="modal">
  <!-- Close Button -->
  <button class="close-btn" (click)="closeLogin()">&times;</button>

  <!-- Logo -->
  <div class="logo-container">
    <img src="icons/logo.png" alt="Pinterest" class="logo" />
  </div>

  <!-- Title -->
  <h2 class="title">Login</h2>

  <!-- Email -->
  <input type="email" placeholder="Email" class="input" />

  <!-- Password -->
  <input type="password" placeholder="Password" class="input" />

  <!-- Forgot -->
  <p class="forgot">Forgot your password?</p>

  <!-- Login Button -->
  <button class="login-btn">Log in</button>


  <p class="terms">
    By continuing, you agree to AnaghaSafer <span class="underline"><a href="#">Terms of Service</a></span> and
    <span class="underline">Privacy Policy</span>.
  </p>

  <!-- Sign up link -->
  <p class="signup">
    Not on Pinterest yet? <span class="link">Sign up</span>
  </p>
</div>