<div class="mobile-header">
  <button id="filter-toggle" (click)="toggleFilters()">{{ filterButtonText }}</button>
</div>
<div class="container">
  <aside class="sidebar" [class.active]="showFilters" id="sidebar">
    <!-- <div class="filter-section">
      <h3>  Price Filters </h3>
      <label><input type="checkbox"> Expensive Tours </label>
      <label><input type="checkbox"> Under of Price 10000</label>
      <label><input type="checkbox"> over of Price 6000</label>
      <label><input type="checkbox"> low priceing </label>
    </div> -->
    <div class="filter-section">
      <h3>Package Filters</h3>
      <label *ngFor="let key of objectKeys(filters)">
        <input type="checkbox" [(ngModel)]="filters[key]" (ngModelChange)="getPackagesWithFilters()" />
        {{ filterLabels[key] }}
      </label>
    </div>
    <div class="filter-section">
      <h3>Price Filters</h3>
      <label *ngFor="let key of objectKeys(priceFilters)">
        <input type="checkbox" [(ngModel)]="priceFilters[key]" (ngModelChange)="getPackagesWithFilters()" />
        {{ priceLabels[key] }}
      </label>
    </div>
  </aside>

  <main class="main-content">
    <div *ngFor="let pack of package" class="package-card">
      <div class="image-section">
        <ng-container *ngFor="let image of pack.images">
          <img [src]="backendUrl + image.img" alt="{{ pack.place_name }}">
        </ng-container>
      </div>

      <div class="details-section">
        <h2>{{ pack.place_name }}</h2>
        <div class="grid-details-section">
          <div class="text">
            <p><strong>Duration:</strong> <span>{{ pack.duration_days }}</span></p>
            <p><strong>Origin:</strong> <span>{{ pack.origin }}</span></p>
            <p><strong>Departure:</strong> <span>{{ pack.departure_point }}</span></p>
            <p><strong>Package:</strong> <span>{{ pack.package_code }}</span></p>
            <p><strong>Destination:</strong> <span>Dwarka / Nageshwar / Porbandar / Somnath</span></p>
            <p><strong>Date Of Journey:</strong> <span>Multiple Options</span></p>
          </div>
        </div>
        <div class="icons">
          <li>
            <i class="fa-solid fa-bus-simple"></i>
            <i class="fa-solid fa-car-side"></i>
            <i class="fa-solid fa-train"></i>
            <i class="fa-solid fa-hotel"></i>
          </li>
        </div>
      </div>

      <div class="price-section">
        <p id="check">Starting from</p>
        <h3 style="text-wrap: nowrap;">₹ {{ pack.price_trip }}</h3>
        <a [routerLink]="['/view',pack.package_id]" class="view-details" style="text-decoration: none;">View Details</a>
        <button [routerLink]="['/view',pack.package_id]" class="book-now">Book Now</button>
      </div>
    </div>
  </main>

</div>