<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /anaghasafer/dist/frontend/browser/
  RewriteRule ^index\.html$ - [L]
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteRule . /anaghasafer/dist/frontend/browser/index.html [L]
</IfModule>
