<section class="trip-section">
    <div class="slider">
        <div class="slides" >
            <img  src="/assets/slider12.png" alt="Trip Slide">
        </div>

        <!-- <button class="prev" (click)="prevSlide()">&#10094;</button>
        <button class="next" (click)="nextSlide()">&#10095;</button> -->

        <div class="wave">
            <svg viewBox="0 0 1440 320" preserveAspectRatio="none">
                <path fill="#f8f9fa"
                    d="M0,64 C60,100 90,250 180,180 C270,110 360,-30 450,100 C540,230 630,50 720,120 C810,190 900,60 990,130 C1080,200 1170,100 1260,140 C1350,180 1410,100 1440,90 L1440,320 L0,320 Z">
                </path>
            </svg>
        </div>
    </div>
</section>