<footer>
    <div class="footer-container">
  
      <div class="footer-column">
        <h3>ABOUT US</h3>
        <p><a routerLink="/fackc">Why Choose Us</a></p>
        <p><a href="#">Social Impact</a></p>
        <p><a href="#">Contact Us</a></p>
        <p><a href="#">Terms and Conditions</a></p>
        <p><a href="#">Privacy Policy</a></p>
        <p><a href="#">Sitemap</a></p>
        <p><a href="#">Blog</a></p>
      </div>
  
      <div class="footer-column">
        <h3>TOP DESTINATIONS</h3>
        <p><a href="#">Golden Triangle</a></p>
        <p><a href="#">Rajasthan</a></p>
        <p><a href="#">North India</a></p>
        <p><a href="#">Kerala</a></p>
        <p><a href="#">South India</a></p>
        <p><a href="#">Delhi</a></p>
        <p><a href="#">Mumbai</a></p>
      </div>
  
      <div class="footer-column">
        <h3>RESPONSIBLE TOURISM AWARDS</h3>
        <p>🏅 🌍 🦻 🚌</p>
  
        <div class="newsletter">
          <h3>NEWSLETTER</h3>
          <div style="display: flex; gap: 5px; align-items: center;">
            <input type="email" placeholder="Email Address" />
            <button>SUBMIT</button>
          </div>
  
        </div>
  
        <h3>FOLLOW US</h3>
        <div class="social-icons">
          <a href="#">📘</a>
          <a href="#">📸</a>
          <a href="#">💼</a>
          <a href="#">▶️</a>
          <a href="#">🧭</a>
        </div>
      </div>
  
  
      <div class="footer-column">
        <iframe
          src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d114542.80185929636!2d78.19089894999999!3d26.21415585!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3976c5d1792291fb%3A0xff4fb56d65bc3adf!2sGwalior%2C%20Madhya%20Pradesh!5e0!3m2!1sen!2sin!4v1744789588075!5m2!1sen!2sin"
          width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"
          referrerpolicy="no-referrer-when-downgrade"></iframe>
  
      </div>
  
  
    </div>
    <div class="bottom-bar">
      © Copyright 2025 Reality <strong>AnaghaSafer</strong> . All Rights Reserved.
    </div>
  </footer>