<div class="booking-container"  *ngIf="topPageShow">
  <div class="left-content">
    <div class="booking-card">
      <div class="header">
        <div>
          <h2 class="hotel-name">Hotel {{infodata.hotel.hotelname}}</h2>
          <div class="tags"> <span class="tag blue">{{infodata.hotel.hoteltype}}</span> <span class="tag grey">Couple
              Friendly</span>
          </div>
          <p class="hotel-address" style="color: black; text-transform: capitalize; ">{{infodata.hotel.address}},{{infodata.hotel.city}} -  {{infodata.hotel.pincode}},{{infodata.hotel.state}} ,India</p>
        </div>
         <img 
          [src]="`${env.backend_url}/storage/${infodata.rooms_image[0]}`"
          alt="Hotel" class="hotel-img"
          >
         
      </div>
      <div class="stay-info">
        <div class="checkin"> <span class="label">CHECK IN</span> <span class="date">{{checkInDay}} <b>{{checkInDateFormatted }}

        </b></span> <span class="time">{{ checkInTimeFormatted }}</span> </div>
        <div class="night-count"> <span class="nights">1 NIGHT</span> </div>
        <div class="checkout"> <span class="label">CHECK OUT</span> <span class="date">{{ checkOutDay }} <b>{{
              checkOutDateFormatted }}</b></span>
          <span class="time">{{ checkOutTimeFormatted }}</span>
        </div>
        <div class="stay-summary"> 1 Night | {{persion}} Adults | Entire Apartment </div>
      </div>
      <div class="room-details">
        <div>
          <h2>{{infodata.roomType}}</h2>
          <p lass="hotel-address">{{persion}} Adults</p>
          <ul style="margin-top: 20px;">
            <li>Stay Only</li>
            <li style="margin-top: 10px;">No meals included</li>
          </ul>
          <h3 style="font-size: 18px;">{{checkCharges}}</h3>
          <p class="policy">Refund is applicable for this booking</p>
          <a href="" class="policy-link">Cancellation policy details</a>
          <!-- amenaties   guest.amenties-->
              
           <div *ngIf="showInclusions">
             <p class="policy" >features included</p>
             <li *ngFor="let amenity of infodata.amenities" >{{ amenity }}</li>
            </div>
            </div> 
          <a href="javascript:void(0)" class="see-inclusions" (click)="toggleInclusions()">
    {{ showInclusions ? 'Hide Inclusions' : 'See Inclusions' }}
  </a>


  
    <!-- <a href="#" class="see-inclusions">  See Inclusions</a> -->

      </div>
    </div>
 
    <div class="info-card">
  <h2>Important information</h2>
  <ul style="margin-top: 10px;">
    <li style="margin-left: 20px;">Primary Guest should be atleast 18 years of age.</li>
    <li style="margin-left: 20px;">Passport, Aadhaar, Driving License and Govt. ID are accepted as ID proof(s)</li>
    <li style="margin-left: 20px;">Unmarried couples allowed</li>
    <li style="margin-left: 20px;">Unmarried couples are not allowed in hourly stay rooms</li>

    <!-- Extra items shown only if expanded -->
    <li *ngIf="showMore" style="margin-left: 20px;">Check-in time is {{ checkInTimeFormatted }}, Check-out time is {{ checkOutTimeFormatted }}</li>
    <li *ngIf="showMore" style="margin-left: 20px;">Pets are not allowed inside the property</li>
  </ul>

  <!-- Toggle link -->
  <a href="javascript:void(0)" class="link" (click)="toggleMore()" style="margin-top: 10px; display:block;">
    {{ showMore ? 'View Less' : 'View More' }}
  </a>
</div>


    <div class="guest-form">
      <h3>Guest Details</h3>
      <form>
        <!-- Title -->
        <div class="form-group">
          <label for="title">Title</label>
          <select id="title" [(ngModel)]="guest.title" name="title">
            <option value="Mr">Mr</option>
            <option value="Mrs">Mrs</option>
            <option value="Ms">Ms</option>
            <option value="Dr">Dr</option>
          </select>
        </div>

        <div class="form-row">
          <div class="form-group">
            <label for="firstName">Name</label>
            <input id="firstName" type="text" [(ngModel)]="guest.firstName" name="firstName" />
          </div>
          <div class="form-group">
            <label for="lastName">Last Name</label>
            <input id="lastName" type="text" [(ngModel)]="guest.lastName" name="lastName" />
          </div>
        </div>

        <!-- Email + Password -->
        <div class="form-row">
          <div class="form-group">
            <label for="email">Email Address</label>
            <input id="email" type="email" [(ngModel)]="guest.email" name="email" />
          </div>
          <div class="form-group">
            <label for="password">Password</label>
            <input id="password" type="password" [(ngModel)]="guest.password" name="password" />
          </div>
        </div>

        <!-- Mobile + Confirm Password -->
        <div class="form-row">
          <div class="form-group">
            <label for="mobile1">Contact Number 1</label>
            <input id="mobile1" type="tel" [(ngModel)]="guest.mobile1" name="mobile" />
          </div>

          <div class="form-group">
            <label for="mobile2">Contact Number 2</label>
            <input id="mobile2" type="tel" [(ngModel)]="guest.mobile2" name="mobile" />
          </div>

          <div class="form-group">
            <label for="confirmPassword">Confirm Password</label>
            <input id="confirmPassword" type="password" [(ngModel)]="guest.confirmPassword" name="confirmPassword" />
          </div>
        </div>

        <!-- Submit -->
        <button type="button" class="regis-btn" (click)="registerNow()" >
                 <!-- <span *ngIf="!check"><b>Submit Now!</b></span>  -->
          <ng-container *ngIf="!isLoading"><b>Submit Now!</b></ng-container>
          <ng-container *ngIf="isLoading"><span class="loader"></span> Loading...</ng-container>
        </button>

        <!-- Success Popup -->
        <div *ngIf="isSuccess" class="success-popup">
          ✅ Successfully Registered!
        </div>

        <!-- Login -->
        <div class="login-section" style="margin-top: 10px;">
          <p>Secure your booking with safe and easy payment methods</p>

          <button type="button" class="login-btn" (click)="paymentMethodss()">PROCEED TO PAY</button>
        </div>
      </form>

      <!--  ********************  phone pay ******************************* -->



      <div class="modal-backdrop" *ngIf="isModalOpen" (click)="closeModal()"></div>
      <div class="modal" *ngIf="isModalOpen">
        <div class="modal-content">
          <span class="close" (click)="closeModal()">&times;</span>
          <h3>Select Payment Method</h3>

          <!-- Total Amount -->
          <div style="display: flex; align-items: center;">
            <p style="color: #050505; font-size: 20px; font-family: monospace;">Total Amount :</p>
            <p style="font-size: 24px; font-family: monospace; margin-left: 8px;">₹ {{infodata.finalPrice * persion }}</p>
          </div>

          <!-- Payment Options -->
          <div class="payment-options">
        
            <div class="payment-card" *ngFor="let method of paymentMethods" (click)="selectMethod(method.name)"
              [class.selected]="selectedMethod === method.name">
              <div class="logo-circle">
                <img [src]="method.logo" [alt]="method.name" />
              </div>
              <p>{{ method.name }}</p>
            </div>

          </div>

          <!-- Payment ID + QR section -->
          <div *ngIf="selectedMethod" style="margin-top: 20px;">
            <div class="payment-box">
              <label>Enter Payment ID</label>
              <input type="text" [(ngModel)]="transaction_id" placeholder="Enter payment ID" />
            </div>

            <div class="qr-box">
              <button (click)="submitPayment()"> Submit Payment ID</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="right-sidebar">
    <div class="price-card">
      <h4>Price Breakup</h4>
      <div class="row" style="border-bottom: 1px solid #d8d8d8; margin-bottom: 20px;"> <span
          style="color: #000000; font-size: 16px;"><b>Entire Rooms In ₹ {{total_paid_amount}}<br>1 Night
          </b></span>
      </div>
      <div class="row" style="border-bottom: 1px solid #d8d8d8; margin-bottom: 20px;"> <span
          style="font-size: 16px;">Base Price x {{filter.rooms_required}}Rooms</span> <span>₹ 
            <!-- {{infodata.basePrice *
          persion}} -->
          {{this.basePrice}}
          </span> </div>

      <div class="row total-discount" style="border-bottom: 1px solid #d8d8d8; margin-bottom: 20px;"> <span
          style="font-size: 16px;">Total Discount <i class="info-icon"></i></span> <span>- ₹ 
            <!-- {{(infodata.basePrice * persion)/infodata.discount}} -->
             {{this.total_discount}}
          </span> </div>

      <div class="row" style="border-bottom: 1px solid #d8d8d8; margin-bottom: 20px;"> <span
          style="font-size: 16px;">Price after Discount</span> <span>₹ 
            <!-- {{infodata.finalPrice * persion }} -->
             {{this.price_after_discount}}
          </span> </div>

      <div class="row" style="border-bottom: 1px solid #d8d8d8; margin-bottom: 20px;"> <span
          style="font-size: 16px;">Taxes & Service Fees</span> <span>₹ 0</span> </div>
      <div class="row total"> <span style="font-size: 16px;">Total Amount to be paid</span> 
        <span>₹
          <!-- {{infodata.finalPrice * persion}} -->
           {{total_paid_amount}}
        </span> </div>
    </div>


    
    <div class="coupon-card">
      <h4>Coupon</h4>
      <div class="coupon active"> <input type="radio" checked> <label>MMTHOMESTAYS... <span class="discount">₹
            368</span></label>
        <p class="desc">Congratulations! Discount of INR 368 Applied</p>
      </div>
      <div class="coupon"> <input type="radio"> <label style="margin-left: 0rem;">HOMESTAY <span class="discount">₹
            357</span></label>
        <p class="desc">Congratulations! Discount of INR 357 has been applied for your Booking!</p>
      </div>
      <div class="coupon"> <input type="radio"> <label>HOMESTAY <span class="discount">₹ 357</span></label>
        <p class="desc">Congratulations! Discount of INR 357 has been applied for your Booking!</p>
      </div>
      <div class="gift-note">MMT Gift Cards can be applied at payment step</div>
      <div class="coupon-input"> <input type="text" placeholder="Have a Coupon Code"> <button>→</button> </div>
    </div>
  </div>
</div>